@page "/product/{id:int}"
@inject IProductService ProductService

@if(product == null)
{
	<span>@message</span>
}
else
{
	<div class="media my-3">
		<div class="media-img-wrapper mr-2">
			<img class="media-img" src="@product.ImageURL" 
				alt="@product.Title" />
		</div>
		<br/>
		<div class="media-body">
			<h4 class="mb-0">@product.Title</h4>
			<br/>
			<p>@product.Description</p>
			<h5 class="price">
				£@product.Price
			</h5>
		</div>
	</div>
}

@code 
{
	private Product  product = null;

	private string message = "Loading a product...";

	[Parameter]
	public int Id { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		var result = await ProductService.GetProductById(Id);

		if(!result.IsSuccess)
		{
			message = result.Message;
		}
		else
		{
			product = result.Data;
		}

	}
}
